<div class="page_content">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %> 
  <% if alert %>
    <p id="alert"><%= alert %></p>
  <% end %>

  <h1 class="header">Home</h1>

  <%= render 'form' %>

  <%= render 'posts' %>

  <br />

</div>


