// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #BF9B30;
}
.page_content {
  width: 800px;
  margin: auto;
}

.header {
  padding-bottom: 10px;
}

.comment {	

  .image {
    float: left;
    margin: 2px 5px 0 2px;
    img {
      border: 2px solid black;
    }
  }
  .details{
  	font-style: italic;
  }
  .comment_odd {
    background-color: #FFBF00;
    min-height: 180px;
    margin-bottom: 5px;
    border-left: 0.5px solid black;
    border-top: 0.5px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
  .comment_even {
  	background-color: #FFCF40;
    min-height: 180px;
    margin-bottom: 5px;
    border-left: 0.5px solid black;
    border-top: 0.5px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.comment_without_image {
  .details{
    font-style: italic;
  }
  .comment_odd {
    background-color: #FFBF00;
    margin-bottom: 5px;
    border-left: 0.5px solid black;
    border-top: 0.5px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

  }
  .comment_even {
    background-color: #FFCF40;
    margin-bottom: 5px;
    border-left: 0.5px solid black;
    border-top: 0.5px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.comments_header {
  font-weight: bold;
}

.post {

  .details{
    font-style: italic;
  }

  .post_odd {
    background-color: #FFBF00;
    min-height: 180px;
    margin-bottom: 5px;
    border-left: 0.5px solid black;
    border-top: 0.5px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  .post_even {
    background-color: #FFCF40;
    min-height: 180px;
    margin-bottom: 5px;
    border-left: 0.5px solid black;
    border-top: 0.5px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  .username {
  	font-weight: bold;
  }

  .image {
    float: left;
    margin: 2px 5px 0 2px;
    img {
      border: 2px solid black;
    }
  }
}

.post_without_image {
  .details{
    font-style: italic;
  }

  .post_odd {
    min-height: 50px;
    background-color: #FFBF00;
    margin-bottom: 5px;
    border-left: 0.5px solid black;
    border-top: 0.5px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  .post_even {
    min-height: 50px;
    background-color: #FFCF40;
    margin-bottom: 5px;
    border-left: 0.5px solid black;
    border-top: 0.5px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  .username {
    font-weight: bold;
  }
}

.post_show {
  border: 2px dotted black;
  background-color: #FFCF40;
  margin-bottom: 10px;
  min-height: 180px;

  .details{
    font-style: italic;
  }

  .username {
  	font-weight: bold;
  }

  .image {
    float: left;
    margin: 2px 5px 0 2px;
    img {
      border: 2px solid black;
    }
  }
}

.post_show_without_image {
  border: 2px dotted black;
  background-color: #FFCF40;
  margin-bottom: 10px;
  min-height: 50px;

  .details{
    font-style: italic;
  }

  .username {
    font-weight: bold;
  }
}