// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;
}

body {
	width: 800px;
	margin: auto;
}

.header {
  padding-bottom: 10px;
}

.comment {	

  .details{
  	font-style: italic;
  }
  .comment_odd {
    background-color: #B3F36D;
  }
  .comment_even {
  	background-color: #98F33D;
  }
}

.comments_header {
  font-weight: bold;
}

.post {

  .details{
    font-style: italic;
  }

  .post_odd {
    background-color: #B3F36D;
    min-height: 132px;
    min-width: 30px;
  }

  .post_even {
    background-color: #98F33D;
    min-height: 132px;
  }

  .username {
  	font-weight: bold;
  }

  .image {
    float: left;
    margin: 2px 5px 0 2px;
    img {
      border: 2px solid black;
    }
  }
}

.post_without_image {
  .details{
    font-style: italic;
  }

  .post_odd {
    background-color: #B3F36D;
    min-height: 50px;
  }

  .post_even {
    background-color: #98F33D;
    min-height: 50px;
  }

  .username {
    font-weight: bold;
  }
}

.post_show {
  border: 2px dotted black;
  background-color: #98F33D;
  margin-bottom: 10px;
  min-height: 132px;

  .details{
    font-style: italic;
  }

  .username {
  	font-weight: bold;
  }

  .image {
    float: left;
    margin: 2px 5px 0 2px;
    img {
      border: 2px solid black;
    }
  }
}

.post_show_without_image {
  border: 2px dotted black;
  background-color: #98F33D;
  margin-bottom: 10px;
  min-height: 50px;

  .details{
    font-style: italic;
  }

  .username {
    font-weight: bold;
  }
}